<div class="text-white">
  <h1>Pipe Básicos</h1>
  <p>
    Pipes incluídos en Angular - Usualemnte en el Common Module
  </p>
</div>

<div class="p-grid">
  <div class="p-col-4">
    <p-card header="Uppercase"
            [subheader]="nombreLower">
        {{nombreUpper | uppercase}}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="Lowercase"
            [subheader]="nombreUpper">
        {{nombreUpper | lowercase}}
    </p-card>
  </div>
  <div class="p-col-4">
    <p-card header="Titlecase"
            [subheader]="nombreCompleto">
        {{nombreCompleto | titlecase}}
    </p-card>
  </div>
</div>

<div class="text-white">
  <h1>Date | Fecha | Pipe</h1>
  <p>
    pipes para mostras las fechas
  </p>
</div>
<div class="p-grid">
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>fecha</li>
        <li>fecha | date</li>
        <li>fecha | date: short</li>
        <li>fecha | date: medium</li>
        <li>fecha | date: long</li>
        <li>fecha | date: full</li>
        <li>fecha | date: fullDate</li>
        <li>fecha | date: 'yyyy/MM/dd h:mm a'</li>
        <li>fecha | date: 'MMMM dd, yyyy'</li>
      </ul>
      <hr>
      <ul>
        <li>fecha | date: long: GMT-5</li>
        <li>fecha | date: long: GMT-4</li>
        <li>fecha | date: long: '':'fr'</li>
      </ul>
    </p-card>
  </div>
  <div class="p-col-6">
    <p-card>
      <ul>
        <li>{{fecha}}</li>
        <li>{{fecha | date}}</li>
        <li>{{fecha | date: 'short'}}</li>
        <li>{{fecha | date: 'medium'}}</li>
        <li>{{fecha | date: 'long'}}</li>
        <li>{{fecha | date: 'full'}}</li>
        <li>{{fecha | date: 'fullDate'}}</li>
        <li>{{fecha | date: 'yyyy/MM/dd h:mm a'}}</li>
        <li>{{fecha | date: 'MMMM dd, yyyy'}}</li>
      </ul>
      <hr>
      <ul>
        <li>{{fecha | date: 'long':'GMT-5'}}</li>
        <li>{{fecha | date: 'long':'GMt-4'}}</li>
        <li>{{fecha | date: 'long':'':'fr'}}</li>
      </ul>
    </p-card>
  </div>
</div>

